body{
    font-family: 'Courier New';
    font-size: 12px;
}

hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

table.list, table.list td, table.list th{
    border-color: #8C8;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
}

table.list{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 8px;
}

table.list tr{
    background-color: #CFC;
}

table.list tr.current{
    background-color: #EFE;
}

table.list td, table.list th{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}

table.list .money, table.print .money{
    text-align: right;
    min-width: 70px;
}

table.list .BB{
    color: #0000ff;
    font-weight: bold;
}

table.list .IB{
    color: #008000;
    font-weight: bold;
}

.info{
    float: right;
}

#transactions{
    float: left;
    width: 40%;
}

.current, .previous{
    width: auto;
    margin-top: 20px;
}

.filter{
    float: right;
    width: 40%;
}

.red{
    color: red;
}

table.print{
   border-collapse: collapse;
   font-weight: 500;
   font-size: 16px;
}


table.print td, table.print th{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}

table.print td{
    border: solid 1px #CCCCCC;
}