<h3>Meter Values</h3>

<table class="list">
    <tr>
        <td></td>
        <td>#</td>
        <td>Prev</td>
        <td>Curr</td>
        <td>Diff</td>
    </tr>
    {{ range $index, $v := .Meters}}
    {{ $p := index $.Prev.Values $index}}
    {{ $c := index $.Current.Values $index}}
    {{ $d := minus $c.Value $p.Value}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Number}}</td>
        <td class="money">{{format3 $p.Value}}</td>
        <td class="money">{{format3 $c.Value}}</td>
        <td class="money">{{format64 $d}}</td>
    </tr>
    {{ end }}
</table>

<hr/>

<table class="list">
    <tr>
        <td></td>
        {{ range .Meters}}
            <td>{{.Name}} <br/> {{.Number}}</td>
        {{ end }}
    </tr>


    {{ range .D}}
        {{$d := .Date}}
        <tr>
            <td>{{.Date}}</td>
            {{range .Values}}
                <td class="money">
                    {{ if eq .ID.Int64 0}}
                        <a href="/meter_values/new?meter_id={{.MeterID}}&date={{$d}}">{{format3 .Value}}</a>
                    {{ else}}
                        <a href="/meter_values/{{.ID.Int64}}">{{format3 .Value}}</a>
                    {{ end}}
                </td>
            {{end}}
        </tr>
    {{ end }}
</table>

<br/>
<a href="/meter_values/new">New</a>