<html>
<head>
    <link href="/main.css" rel="stylesheet" />
    <link href="/jquery/jquery-ui.css" rel="stylesheet" />

    <script src="/jquery/jquery.js"></script>
    <script src="/jquery/jquery-ui.min.js"></script>
</head>
<body>

  <ul>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/templates">Templates</a></li>
      <li><a href="/reports">Reports</a></li>
      <li><a href="/accounts">Accounts</a></li>
      <li><a href="/currencies">Currencies</a></li>
      <li><a href="/meters">Meters</a></li>
      <li><a href="/meter_values">Meter Values</a></li>
  </ul>

  <hr/>

  {{ yield }}

</body>
<html>