<html>
<head>
    <link href="/s/main.css" rel="stylesheet" />
    <link href="/s/jquery/jquery-ui.css" rel="stylesheet" />
    <link href="/s/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/s/favicon.png" rel="icon" type="image/x-icon" />

    <script src="/s/jquery/jquery.js"></script>
    <script src="/s/jquery/jquery-ui.min.js"></script>
</head>
<body>

  <ul>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/templates">Templates</a></li>
      <li><a href="/reports">Reports</a></li>
      <li><a href="/accounts">Accounts</a></li>
      <li><a href="/currencies">Currencies</a></li>
  </ul>

  <hr/>

  {{template "content" .}}

</body>
<html>
