{{define "transaction_scripts"}}
    <script>
        $(function() {
            $( "#date" ).datepicker({
                dateFormat: "yy-mm-dd",
                firstDay: 1
            });

            var f = "{{.FocusOn}}";
            if(f != ""){
                $("#"+f).focus().select();
            }

        });
    </script>
{{end}}

{{define "transaction_fields"}}
<fieldset>

    <label for="date">Date</label>
    <input type="text" id="date" name="Date" value="{{.T.Date}}"/>

    <br/>

    <label for="account_from_id">From</label>
    <select id="account_from_id" name="AccountFromID">
        <option>---</option>
        {{range .AccountFromList}}
            <option {{if eq .ID $.T.AccountFromID }}selected{{end}} value="{{.ID}}">{{.Name}} ({{.Type}})</option>
        {{end}}
    </select>

    <br/>

    <label for="account_to_id">To</label>
    <select id="account_to_id" name="AccountToID">
        <option>---</option>
        {{range .AccountToList}}
            <option {{if eq .ID $.T.AccountToID }}selected{{end}} value="{{.ID}}">{{.Name}} ({{.Type}})</option>
        {{end}}
    </select>

    <br/>

    <label for="amount_from">Amount From</label>
    <input type="number" id="amount_from" name="AmountFrom" value="{{float .T.AmountFrom}}" step="0.01"/>

    <br/>

    <label for="comment">Comment</label>
    <textarea id="comment" name="Comment" cols="40" rows="4">{{.T.Comment}}</textarea>

</fieldset>
{{end}}