<h3>Transactions</h3>

<table id="transactions" class="list">
    {{ range .}}
        <tr>
            <td><a href="/transactions/{{.ID}}">{{.Date}}</a></td>
            <td><a href="/transactions/{{.ID}}">{{.AccountFromID}}</a></td>
            <td><a href="/transactions/{{.ID}}">{{.AccountToID}}</a></td>
            <td class="money">{{.AmountAsMoney}}</td>
            <td>{{.Comment}}</td>
            <td><a href="/transactions/delete/{{.ID}}" onclick="return confirm('Are you sure?')">X</a></td>
        </tr>
    {{ end }}
</table>

<br/>
<a href="/transactions/new">New</a>