<h3>Transactions</h3>

<a href="/transactions/new">New</a>
<br/>
<br/>
<table id="transactions" class="list">
    {{ range .}}
        <tr>
            <td><a href="/transactions/{{.ID}}">{{.Date}}</a></td>
            <td><a href="/transactions/{{.ID}}">{{.AccountFrom.Name}}</a></td>
            <td class="money">{{.AmountFromAsMoney}}</td>

            <td><a href="/transactions/{{.ID}}">{{.AccountTo.Name}}</a></td>
            <td>{{.Comment}}</td>
            <td><a href="/transactions/delete/{{.ID}}" onclick="return confirm('Are you sure?')">X</a></td>
        </tr>
    {{ end }}
</table>

<table id="rests" class="list">
    <tr><td>Кошелек</td><td class="money">10 000.00</td></tr>
    <tr><td>Сбербанк</td><td class="money">100.00</td></tr>
    <tr><td>Карта Первобанк</td><td class="money">10.00</td></tr>
</table>
