{{define "content"}}

<h3>Transactions</h3>

<a href="/transactions/new">New</a> |
<a href="/transactions/new?type=E">Expense</a> |
<a href="/transactions/new?type=I">Income</a> |

{{range .Templates}}
<a href="/transactions/new?template_id={{.ID}}">{{.Title}}</a> |
{{end}}

<br/>
{{range .Alarms}}
<h3 class="red">{{.}}</h3>
{{end}}
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table id="transactions" class="list">
          {{ range .T}}
              <tr class="{{if eq $.CurrentDate .Date}}current{{end}}">
                  <td width="80px"><a href="/transaction/{{.ID}}">{{.Date}}</a></td>
                  <td>{{.AccountFrom.Name}}</td>
                  <td class="money {{.AccountFrom.Type}}{{.AccountTo.Type}}">
                    <span class="gray">{{.AccountFrom.Currency.Code}}</span>
                    {{money .AmountFrom}}
                    {{if ne .AccountFrom.Currency.ID .AccountTo.Currency.ID}}
                      <span class="gray">/</span> {{money .AmountTo}} <span class="gray">{{.AccountTo.Currency.Code}}</span>
                    {{end}}
                  </td>

                  <td>{{.AccountTo.Name}}</td>
                  <td>{{.Comment}}</td>
                  <td><a href="/transaction/{{.ID}}/delete" onclick="return confirm('Are you sure?')">X</a></td>
              </tr>
          {{ end }}
          <tr>
              <td colspan="6">
                  {{ range $i, $v := .TotalPages}}
                      {{if eq $i $.Page }}
                          {{$i}}
                      {{else}}
                          <a href="/transactions?page={{$i}}">{{$i}}</a>
                      {{end}}
                  {{ end }}
              </td>
          </tr>
      </table>
    </div>

    <div class="col-md-6">

      <div class="row">
        <div class="col-md-12 d-flex">
          {{ range .Rests}}
          <table class="list">
              <tr>
                  <th>Account</th>
                  <th>Rest</th>
              </tr>
              {{ range .Records}}
              <tr>
                <td>
                  <span class="gray">{{.CurrencyCode}}</span>
                  {{.AccountName}}
                </td>
                <td class="money">{{money .Amount}}</td>
              </tr>
              {{ end }}
              <tr>
                  <th></th>
                  <th class="money">{{money .Total}}</th>
              </tr>
          </table>
          {{ end }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          {{ range .CurrentIncome}}
          <table class="list">
              <tr>
                  <th>{{$.CurrentMonth}}</th>
                  <th>Income</th>
              </tr>
              {{ range .Records}}
              <tr>
                <td><span class="gray">{{.CurrencyCode}}</span> {{.AccountName}}</td>
                <td class="money">{{money .Amount}}</td>
              </tr>
              {{ end }}
              <tr>
                  <th></th>
                  <th class="money">{{money .Total}}</th>
              </tr>
          </table>
          {{end}}
        </div>
        <div class="col-md-8">
          {{ range .CurrentExpense}}
          <table class="list">
              <tr>
                  <th>{{$.CurrentMonth}}</th>
                  <th>Expense</th>
                  <th class="text-center"> %/% </th>
              </tr>
              {{ range .Records}}
              <tr>
                  <td><span class="gray">{{.CurrencyCode}}</span> {{.AccountName}}</td>
                  <td class="money">{{money .Amount}}</td>
                  <td class="money">{{format64 .Percent}} / {{format64 .SumPercent}}</td>
              </tr>
              {{ end }}
              <tr>
                  <th></th>
                  <th class="money">{{money .Total}}</th>
                  <th></th>
              </tr>
          </table>
          {{end}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          {{ range .PreviousIncome}}
          <table class="list">
              <tr>
                  <th>{{$.PreviousMonth}}</th>
                  <th>Income</th>
              </tr>
              {{ range .Records}}
              <tr><td><span class="gray">{{.CurrencyCode}}</span> {{.AccountName}}</td><td class="money">{{money .Amount}}</td></tr>
              {{ end }}
              <tr>
                  <th></th>
                  <th class="money">{{money .Total}}</th>
              </tr>
          </table>
          {{end}}
        </div>
        <div class="col-md-8">
          {{ range .PreviousExpense}}
          <table class="list">
              <tr>
                  <th>{{$.PreviousMonth}}</th>
                  <th>Expense</th>
                  <th></th>
              </tr>
              {{ range .Records}}
              <tr>
                <td><span class="gray">{{.CurrencyCode}}</span> {{.AccountName}}</td>
                <td class="money">{{money .Amount}}</td>
                <td class="money">{{format64 .SumPercent}}</td>
              </tr>
              {{ end }}
              <tr>
                  <th></th>
                  <th class="money">{{money .Total}}</th>
                  <th></th>
              </tr>
          </table>
          {{end}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          {{ range .YearIncome}}
          <table class="list">
              <tr>
                  <th>For Year</th>
                  <th>Income</th>
              </tr>
              {{ range .Records}}
              <tr>
                <td><span class="gray">{{.CurrencyCode}}</span> {{.AccountName}}</td><td class="money">{{money .Amount}}</td></tr>
              {{ end }}
              <tr>
                  <th></th>
                  <th class="money">{{money .Total}}</th>
              </tr>
          </table>
          {{end}}
        </div>
        <div class="col-md-8">
          {{ range .YearExpense}}
          <table class="list">
              <tr>
                  <th>For Year</th>
                  <th>Expense</th>
                  <th></th>
              </tr>
              {{ range .Records}}
              <tr>
                <td><span class="gray">{{.CurrencyCode}}</span> {{.AccountName}}</td>
                <td class="money">{{money .Amount}}</td>
                <td class="money">{{format64 .SumPercent}}</td>
              </tr>
              {{ end }}
              <tr>
                  <th></th>
                  <th class="money">{{money .Total}}</th>
                  <th></th>
              </tr>
          </table>
          {{end}}
        </div>
      </div>


    </div>

  </div>
</div>


{{end}}
